<h1>About this application</h1>
<p>My parents have an amazing villa that they rent out. I tried to find them a simple, easy to use reservations system online for guests to make bookings. But, I was really disappointed with what I found.</p>
<p>I design software products for a living, and decided I'd be able to solve my parents' problem better than the tools that were out there. I hope you find my solution as fun and easy as it was for me to make</p>